@charset "utf-8";
/* 초기화 */
* {margin: 0; padding: 0; color: #fff;}
a {color: #333; text-decoration: none;}
li {list-style: none;}
table {border-spacing: 0;}
.clearfix::before, .clearfix::after {display: block; content:''; clear:both;}

#wrap { width: 1200px; margin: 0 auto; }

#header { text-align:center; }
#header .logo img { width: 150px }

#header #nav { width: 50%; text-align: center; margin:0 auto;}
#header #nav > ul > li {float:left;width: 16%}
 
#header #nav ul li ul.submenu { display:none; }

#slide { width: 100%; text-align: center; overflow: hidden;  }