@charset "utf-8";
/* 초기화 */
* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; font-family: "돋움", "Dotum", sans-serif;}
ul { list-style: none; }
a { text-decoration: none; color:inherit; }

/* header */

/* logo */
.cont-wrap .logo {}
.cont-wrap .logo > img { width: 150px; display:block; margin: 0 auto; }

/* gnb */
.cont-wrap .nav-wrap { width:100%; height:50px; margin: 0 auto; position: relative;}
.cont-wrap .nav-wrap #gnb { width: 50%; text-align: center; margin: 0 auto;}

.cont-wrap #gnb ul > li { float:left }
.cont-wrap #gnb ul > li > a { display:block; padding: 20px; text-align: center; }
.cont-wrap #gnb ul > li + ul > li { display:none; }
